.list {
    width: 80%;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #273c44;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: #ccc;
    background-color: #3d7a55;
}

.icons {
    display: flex;
    gap: 10px;
}

.listItem svg {
    font-size: 20px;
    cursor: pointer;
}
